:root {
  --slate-900: #1F314F;
  --slate-500: #68778D;
  --slate-300: #D5E1EF;

  --white: #FFFFFF;
  --spacing-500: 40px;
  --spacing-300: 24px;
  --spacing-200: 16px;

  --text-preset-1-family: 'Outfit', sans-serif;
  --text-preset-1-weight: 700;
  --text-preset-1-size: 22px;
  --text-preset-1-line-height: 120%;
  --text-preset-1-letter-spacing: 0px;

  --text-preset-2-family: 'Outfit', sans-serif;
  --text-preset-2-weight: 400;
  --text-preset-2-size: 15px;
  --text-preset-2-line-height: 140%;
  --text-preset-2-letter-spacing: 0.2px;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    background-color: var(--slate-300);
    display: grid;
    place-items: center;
}

.card {
    background-color: var(--white);
    width: 320px;
    height: 499px;
    padding: 16px 16px 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h1 {
    font-family: var(--text-preset-1-family);
    font-weight: var(--text-preset-1-weight);
    font-size: var(--text-preset-1-size);
    line-height: var(--text-preset-1-line-height);
    letter-spacing: var(--text-preset-1-letter-spacing);
    color: var(--slate-900);
}

.card p {
    font-family: var(--text-preset-2-family);
    font-weight: var(--text-preset-2-weight);
    font-size: var(--text-preset-2-size);
    line-height: var(--text-preset-2-line-height);
    letter-spacing: var(--text-preset-2-letter-spacing);
    color: var(--slate-500);
}

